# Database Configuration
driver=com.mysql.cj.jdbc.Driver
url=jdbc:mysql://RDS엔드포인트:RDS포트번호/DB이름?useSSL=false&serverTimezone=Asia/Seoul&characterEncoding=UTF-8&autoReconnect=true&allowPublicKeyRetrieval=true
username=계정
password=비밀번호

# Connection Pool Settings
db.maxTotal=20
db.maxIdle=10
db.minIdle=2
db.maxWaitMillis=5000
